.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  z-index: 1000;

  background-color: $brand-color;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 0.7;
  &__btn {
    position: absolute;
    left: 20px;
    top: 50%;

    width: 25px;
    height: 25px;
    border: none;
    padding: 0;

    outline: none;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 3px;

      background-color: $white-color;
      border-radius: 2px;
      box-shadow: 0 8px 0 0 $white-color, 0 -8px 0 0 $white-color;
    }
  }
  &__logo {
    display: block;
    min-width: 170px;
    border-radius: 10px;

    font-size: 20px;
    color: $white-color;
    text-align: center;

    transition: all 0.3s linear;
    &:hover {
      color: $brand-color;

      background-color: $white-color;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &--active:hover {
      box-shadow: none;
    }
  }
}
.btn--active::before {
  transform: rotate(90deg);
  animation: slowRotateTo 0.7s linear;
}
.btn--deactive::before {
  transform: rotate(0deg);
  animation: slowRotateFrom 0.7s linear;
}

@keyframes slowRotateTo {
  0% {
    opacity: 0.3;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0.7;
    transform: rotate(90deg);
  }
}
@keyframes slowRotateFrom {
  0% {
    opacity: 0.3;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0.7;
    transform: rotate(0deg);
  }
}

.nav {
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  width: 200px;
  height: 100vh;
  padding-top: 30px;

  background-color: $brand-color;

  transform: translateX(-154%);

  &__link {
    display: block;
    padding: 10px;

    text-align: center;
    color: $white-color;
    font-size: 20px;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $grey-color--light;
    }
  }
  &--active {
    transform: translateX(0%);
    animation: slowVisibleTo 0.7s linear;
  }
  &--deactive {
    transform: translateX(-154%);
    animation: slowVisibleFrom 0.7s linear;
  }
}

@keyframes slowVisibleTo {
  0% {
    opacity: 0.3;
    transform: translateX(-154%);
  }
  100% {
    opacity: 0.7;
    transform: translateX(0%);
  }
}
@keyframes slowVisibleFrom {
  0% {
    opacity: 0.7;
    transform: translateX(0%);
  }
  100% {
    opacity: 0.3;
    transform: translateX(-154%);
  }
}

.overlay--active,
.overlay--active-message {
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  width: 100vw;
  height: 100vh;

  z-index: 90;
}

.overlay--active-message {
  background-color: $overlay-color;
}