.card {
  &--brussels {
    background-image: url('../assets/image/category/city/brussels.webp');
  }
  &--losAngeles {
    background-image: url('../assets/image/category/city/los-angeles.webp');
  }
  &--london {
    background-image: url('../assets/image/category/city/london.webp');
  }
  &--minsk {
    background-image: url('../assets/image/category/city/minsk.webp');
  }
  &--madrid {
    background-image: url('../assets/image/category/city/madrid.webp');
  }
  &--newYork {
    background-image: url('../assets/image/category/city/new-york.webp');
  }
  &--paris {
    background-image: url('../assets/image/category/city/paris.webp');
  }
  &--singapore {
    background-image: url('../assets/image/category/city/singapore.webp');
  }
}
