.page--it .card {
  &--tehnology {
    background-image: url('../assets/image/category/it/tehnology.webp');
  }
  &--collider {
    background-image: url('../assets/image/category/it/collider.webp');
  }
  &--lidar {
    background-image: url('../assets/image/category/it/lidar.webp');
  }
  &--сomputer {
    background-image: url('../assets/image/category/it/сomputer.webp');
  }
  &--spacex {
    background-image: url('../assets/image/category/it/spacex.webp');
  }
  &--starlink {
    background-image: url('../assets/image/category/it/starlink.webp');
  }
  &--server {
    background-image: url('../assets/image/category/it/server.webp');
  }
  &--telescope {
    background-image: url('../assets/image/category/it/telescope.webp');
  }
}
