$brand-color: #28c38a;
$brand-color--light: #28c38a40;
$gold-color: #ffc900;
$gold-color--light: #ffc90040;
$gold-color--dark: #d67801b8;
$white-color: #ffffff;
$white-color--light: #ffffff60;
$grey-color--light: #00000018;
$grey-color--lightX: #b7b1b117;
$red-color: #ef0c36fc;
$red-color--light: #ef0c3687;
$blue-color--light: #a1dafabf;

$text-color--grey: #949497;
$text-color--dark: #37383c;
$overlay-color: #f5f5dc;
