$brand-color: #28c38a;
$brand-color--light: #28c38a99;
$gold-color: #ffc900;
$white-color: #ffffff;
$grey-color--light: #00000018;

$text-color--grey: #949497;
$text-color--dark: #37383c;
$overlay-color: #f5f5dc;
